/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, h1, a, h3 {
  font-family: 'Arial', sans-serif;
  color: white; /* White text color for better contrast on dark backgrounds */
}

/* Navigation menu styles */
nav ul {
  list-style-type: none;
  background-color: #000; /* Dark background for the navbar */
  overflow: hidden;
  padding: 0;
  text-align: center; /* Center the navigation items */
}

nav li {
  display: inline-block; /* Use inline-block for horizontal listing */
  padding: 20px 15px; /* Provide padding for tap targets */
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold; /* Make the navigation items bold */
}

nav a:hover {
  text-decoration: underline;
}

/* Header styles */
h1 {
  font-size: 3em;
  text-align: center;
  padding: 50px 0; /* Increase padding for more space */
  background-color: #1A1A1A; /* Dark background for header */
}

h2 {
  font-size: 2em;
  color: black;
  text-align: left;
  padding: 20px 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

h3 {
  font-size: 1em;
  color: white;
  text-align: left;
  padding: 20px 0;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #1A1A1A;
}

/* Main content styles */
main {
  padding: 20px;
  background-color: #1A1A1A; /* Match main content background with header */
}

p   {
  color: black;
}

p1   {
  color: white;
}

section {
  color: black;
  text-align: center;
  margin: 50;
  padding: 50;
  box-sizing: border-box;
  background-color: white;
}

/* Style image */
img.centered-image {
  display: block;
  margin: 40px auto; /* Increase margin for more space */
  width: 100%; /* Responsive width */
  height: auto; /* Maintains aspect ratio */
  max-width: 600px; /* Max-width for large screens */
}

/* Footer styles */
footer {
  background-color: #000; /* Dark background for footer */
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative; /* Changed from absolute to relative */
  bottom: 0;
  width: 100%;
}

/* Styles specific to the Our Team page */
.team-container {
  background-color: #1A1A1A; /* Match team container background with the main content */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.team-member {
  background-color: #333; /* Slightly lighter background for team member cards */
  color: white; /* Text color for team member cards */
  border: none; /* Remove border */
  padding: 15px;
  margin: 10px;
  width: 200px; /* Or whatever width you prefer */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.team-member h2 {
  color: #FFF; /* White text for names */
  text-align: center;
}

.team-member p {
  font-size: 1em;
  margin: 10px 0;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav li {
    padding: 10px 5px; /* Reduce padding on smaller screens */
  }

  img.centered-image {
    width: 90%; /* Make image take more width on smaller screens */
  }
}

#chart {
    width: 90%;
    max-width: 600px;
    margin: auto;
    color: black;
    font-family: Arial, sans-serif;
}