body {
  font-family: 'Arial', sans-serif;
  color: white; /* White text color for better contrast on dark backgrounds */
}

nav ul {
  list-style-type: none;
  background-color: #000; /* Dark background for the navbar */
  overflow: hidden;
  padding: 0;
  text-align: center; /* Center the navigation items */
}

nav li {
  display: inline-block; /* Use inline-block for horizontal listing */
  padding: 20px 15px; /* Provide padding for tap targets */
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold; /* Make the navigation items bold */
}

nav a:hover {
  text-decoration: underline;
}


/* Styles for the hero section */
/* Styles for the hero section */
.hero {
    background-image: url('analyzer2.jpg'); /* Background image */
    background-size: cover; /* Cover the entire section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* No repeating of the image */
    color: white; /* Text color */
    padding: 50px 20px; /* Padding inside hero section */
    text-align: center; /* Center text */
    max-width: 1200px; /* Maximum width of the hero section */
    margin: 0 auto; /* Center the hero section horizontally */
}

/* Enhanced text shadow styles for better readability */
.hero h1,
.hero p {
    text-shadow: 3px 3px 20px rgba(0, 0, 0, 1); /* Darker and more pronounced shadow */
    }

}

.content {
    padding: 20px;
}
.content h1 {
  font-family: 'Arial', sans-serif;
  color: white; /* White text color for better contrast on dark backgrounds */
  text-align: center;
  font-size: 2em;
  text-align: center;
  padding: 20px 0; /* Increase padding for more space */
  background-color: #1A1A1A;  
}

.content p {
    color: black;
    margin-left: 60px;
    margin-right: 60px;
} 

/* Other styles... */

footer {
  background-color: #000; /* Dark background for footer */
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative; /* Changed from absolute to relative */
  bottom: 0;
  width: 100%;
}


/* Additional styles to ensure the footer stays at the bottom */
html, body {
    height: 100%;
}

h1, h2, {
  font-family: 'Arial', sans-serif;
  color: white; /* White text color for better contrast on dark backgrounds */
  text-align: center;
  font-size: 3em;
  text-align: center;
  padding: 50px 0; /* Increase padding for more space */
  background-color: #1A1A1A; /* Dark background for header */
}


main {
    flex: 1; /* This ensures that the main content takes up the available space, pushing the footer down */
}


.logo img {
    height: 100px; /* Adjust the logo size */
    width: auto;
}

.p2 {
    color: black;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px 0;

   }